<h1>Edit Your Account and Hiking Experiences</h1>
<section>
    <form action="" method="">
    <label>First Name: <input type="text" name="first_name" id="first_name"></label>
    <label>Last Name: <input type="text" name="last_name" id="last_name"></label>
    <label>Email: <input type="email" name="email" id="email"></label>

    <fieldset>
      <legend>Club Membership:</legend>
      <p>Edit your club membership</p>

      <%# to do... choose one club - dropdown %>

    </fieldset>

    <fieldset>
      <legend>Mountains Hiked:</legend>
      <p>Edit your mountain hiking progress</p>

      <%# to do... choose one or more mountains - checkboxes %>

    </fieldset>

    <input type="submit" id="submit" name="submit" value="Update">
  </form>
</section>