* {
  margin: 0;
  padding: 0;
}

/************ BEGIN NAVIGATION **************/

nav {
  background-color: #333;
  margin-bottom: 50px;
}

.logo {
  float: left;
  margin-right: 15px;
}

.logo img {
  height: 68px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 0px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li.login {
  float: right;
  padding-right: 20px;
}

nav ul li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

nav ul li.login a:hover {
  background-color: green;
}

@media screen and (max-width: 600px) {
  .logo {
    float: none;
    text-align: center;
    margin-right: 0px;
  }

  .logo img {
    height: 60px;
    margin-left: 0px;
    margin-bottom: 5px;
  }

  nav ul li, nav ul li.login {
    float: none;
    padding-right: 0px;
  }
}

/************ END NAVIGATION **************/



/************ BEGIN MAIN **************/

main {
  margin: 20px;
}

section {
  margin-bottom: 50px;
}

figure {
  width: 210px;
  border: 1px solid #DDD;
  border-radius: 6px;
  margin: 10px 0;
}

figcaption {
  padding: 4px 10px;
  font-size: 0.8em;
  background-color: #333;
  color: #FFF;
  border-radius: 0px 0px 6px 6px;
}

figure img {
  width: 200px;
  margin: 5px;
}

/************ END MAIN **************/



/************ BEGIN FOOTER **************/

footer {
  background-color: #333;
  color: #FFF;
  padding: 20px;
  text-align: center;
}

/************ END FOOTER **************/

/******** BEGIN SVG EUROPE MAP ********/
.st0{fill:none;}
.st1{fill:#B0E0E6; stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;}
.st2{fill:#C0C0C0;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
.st3{fill:#666666;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
.st4{fill:#666666;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
.st5{fill:#666666;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
.st6{fill:#666666;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
.st7{fill:#8AE234;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
.st8{fill:#B0E0E6;stroke:#231F20;stroke-linecap:round;stroke-linejoin:round;}
/******** END SVG EUROPE MAP **********/


/******** BEGIN FORMS *****************/
/* form {
  max-width: 600px;
  padding: 20px 12px 10px 20px;
}

form label {
  display: inline-block;
  margin: 12px 0px;
}

form label > span {
  width: 100px;
  font-weight: bold;
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

form label > input {
  width: 300px;
  padding: 4px;
}

form input[type=submit] {
  border: none;
  font-weight: bold;
  padding: 8px 15px 8px 15px;
  background: rgb(0, 92, 197);
  color: #fff;
  margin-top: 10px;
  margin-left: 105px;
}

form label + span {
  padding-top: 2px;
  margin-left: 2px;
  color: red;
}

form hr {
  width: 95%;
  margin: 12px auto;
} */
/******** END FORMS *******************/

/******** BEGIN EM FORMS ********************/
.em-form-help {
  margin-left:auto;
  margin-right:auto;
  max-width: 500px;
  padding: 20px;
}
.em-form {
  margin-left:auto;
  margin-right:auto;
  max-width: 500px;
  background: #F7F7F7;
  padding: 25px 15px 25px 10px;
  font: 12px Georgia, "Times New Roman", Times, serif;
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
  border:1px solid #E4E4E4;
}
.em-form h1 {
  font-size: 25px;
  padding: 0px 0px 10px 40px;
  display: block;
  border-bottom:1px solid #E4E4E4;
  margin: -10px -15px 30px -10px;;
  color: #888;
}
.em-form h1>span {
  display: block;
  font-size: 11px;
  margin-top: 5px;
}
.em-form label {
  display: block;
  margin: 0px;
}
.em-form label>span:first-child {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 10px;
  margin-top: 14px;
  color: #888;
}
.em-form label>span:last-child {
  color: red;
  font-weight: bold;
}
.em-form input[type="text"], .em-form input[type="password"], .em-form input[type="email"], .em-form textarea, .em-form select {
  border: 1px solid #DADADA;
  color: #888;
  height: 30px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font-size: 12px;
  line-height:15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.em-form textarea{
  padding: 5px 3px 3px 5px;
}
.em-form select {
  background: #FFF;
  background: #FFF;
  text-indent: 0.01px;
  text-overflow: '';
  width: 70%;
  height: 35px;
  line-height: 25px;
}
.em-form textarea{
  height:100px;
}
.em-form .button {
  background: #E27575;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #9E3F3F;
  cursor: pointer;
}
.em-form .button:hover {
  background: #CF7A7A
}

/******** END EM FORMS **********************/