* {
  margin: 0;
  padding: 0;
}

/************ BEGIN NAVIGATION **************/

nav {
  background-color: #333;
  margin-bottom: 50px;
}

.logo {
  float: left;
  margin-right: 15px;
}

.logo img {
  height: 68px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 0px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li.login {
  float: right;
  padding-right: 20px;
}

nav ul li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

nav ul li.login a:hover {
  background-color: green;
}

@media screen and (max-width: 600px) {
  .logo {
    float: none;
    text-align: center;
    margin-right: 0px;
  }

  .logo img {
    height: 60px;
    margin-left: 0px;
    margin-bottom: 5px;
  }

  nav ul li, nav ul li.login {
    float: none;
    padding-right: 0px;
  }
}

/************ END NAVIGATION **************/



/************ BEGIN MAIN **************/

main {
  margin: 20px;
}

figure {
  width: 210px;
  border: 1px solid #DDD;
  border-radius: 6px;
  margin: 10px 0;
}

figcaption {
  padding: 4px 10px;
  font-size: 0.8em;
  background-color: #333;
  color: #FFF;
  border-radius: 0px 0px 6px 6px;
}

figure img {
  width: 200px;
  margin: 5px;
}

/************ END MAIN **************/



/************ BEGIN FOOTER **************/

footer {
  background-color: #333;
  color: #FFF;
  padding: 20px;
  text-align: center;
}

/************ END FOOTER **************/

/******** BEGIN SVG EUROPE MAP ********/
.st0{fill:none;}
.st1{fill:#B0E0E6; stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;}
.st2{fill:#C0C0C0;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
.st3{fill:#666666;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
.st4{fill:#666666;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
.st5{fill:#666666;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
.st6{fill:#666666;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
.st7{fill:#8AE234;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
.st8{fill:#B0E0E6;stroke:#231F20;stroke-linecap:round;stroke-linejoin:round;}
/******** END SVG EUROPE MAP **********/


/******** BEGIN FORMS *****************/
form {
  max-width: 600px;
  padding: 20px 12px 10px 20px;
}

form label {
  display: inline-block;
  margin: 12px 0px;
}

form label > span {
  width: 100px;
  font-weight: bold;
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

form label > input {
  width: 300px;
  padding: 4px;
}

form input[type=submit] {
  border: none;
  font-weight: bold;
  padding: 8px 15px 8px 15px;
  background: rgb(0, 92, 197);
  color: #fff;
  margin-top: 10px;
  margin-left: 105px;
}

form label + span {
  padding-top: 2px;
  margin-left: 2px;
  color: red;
}

form hr {
  width: 95%;
  margin: 12px auto;
}
/******** END FORMS *******************/