<h1>Signup for Euro Mountaineering</h1>
<section>
    <form action="/account" method="POST">
    <label>First Name: <input type="text" name="first_name" id="first_name"></label>
    <label>Last Name: <input type="text" name="last_name" id="last_name"></label>
    <label>Email: <input type="email" name="email" id="email"></label>
    <label>Username: <input type="text" name="username" id="username"></label>
    <label>Password: <input type="password" name="password" id="password"></label>
    <input type="submit" id="submit" name="submit" value="Login">
  </form>
</section>