<main>
  <section class="col-2">
    <article class="col-3">
      <h1 style="font-size: 2em;">Euro Mountaineering</h1>
      <p>This website for those who love mountain climbing and being in nature. There are several clubs for mountaineering in Europe. Each club member can participate by climbing one of the many mountains listed in the website.</p>
      <p>To participate, create a hiker account and begin tracking your hiking achievements. Each hiking achievement is recorded and can be reviewed to measure progress.</p>
    </article>
    <aside>
      <%= erb :map %>
    </aside>
  </section>
  <section class="col-1">
    
  </section>

  <style>
    html {
      background-image : url(/images/mountain.jpg);
      background-position: 100% 0;
      background-size:36%;
      background-repeat:no-repeat;
    }
    p {
      margin: 16px 0;
    }
  </style>
</main>