<main>
  <section class="col-2">
    <h1>Index Page</h1>
    <article class="col-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos in quis nihil eius dicta reiciendis. Nam ducimus veritatis a, accusantium, quaerat incidunt saepe eum quam distinctio dolor quisquam placeat suscipit atque aliquid officia rerum ratione, quod velit odio corrupti. Cum.</p>
    </article>
    <aside>
      <%= erb :map %>
    </aside>
  </section>
  <section class="col-1">
    
  </section>

  <style>
    html {
      background-image : url(/images/mountain.jpg);
      background-position: 100% 0;
      background-size:36%;
      background-repeat:no-repeat;
    }
  </style>
</main>


