<section>
  <form action="/login" method="POST" class="em-form">
    <h1>Login to Your Account
      <span>Please fill all the texts in the fields.</span>
    </h1>

    <label>
      <span>Username:</span>
      <input type="text" name="username" id="username">
      <span><%= @valid[:un] %></span>
    </label>


    <label>
      <span>Password:</span>
      <input type="password" name="password" id="password">
      <span><%= @valid[:pw] %></span>
    </label>

    <label>
      <span>&nbsp;</span> 
      <input type="submit" id="submit" class="button" value="Login">
    </label>    
  </form>
  <div class="em-form-help">
    <% if @result %>
      <p>* Login Error, please try logging in again.</p>
    <% end %>
    <p>Don't have an account yet? <a href="/signup">Signup for a new account.</a></p>
  </div>
</section>