<h1>Login to Euro Mountaineering</h1>
<section>
  <form action="/login" method="POST">
    <label>Username: <input type="text" name="username" id="username"></label>
    <label>Password: <input type="password" name="password" id="password"></label>
    <input type="submit" id="submit" name="submit" value="Login">
  </form>
</section>