<h1>Login to Euro Mountaineering</h1>
<section>
  <form action="/login" method="POST">
    <label><span>Username:</span> <input type="text" name="username" id="username"></label> <span><%= @valid[:un] %></span>
    <label><span>Password:</span> <input type="password" name="password" id="password"></label> <span><%= @valid[:pw] %></span>
    <input type="submit" id="submit" value="Login">
  </form>
  <% if @result %>
    <p>* Login Error, please try logging in again.</p>
  <% end %>
  <p>Don't have an account yet? <a href="/signup">Signup for a new account.</a></p>
</section>