<main>
  <section>
    <form action="/login" method="POST" class="em-form">
      <h1>Login to Your Account
        <span>Please fill all the texts in the fields.</span>
      </h1>

      <label>
        <span>Username:</span>
        <input type="text" name="username" id="username">
      </label>

      <label>
        <span>Password:</span>
        <input type="password" name="password" id="password">
      </label>

      <label>
        <span>&nbsp;</span> 
        <input type="submit" id="submit" class="button" value="Login">
      </label>
      <br>
      <div style="text-align: center; color: red; font-weight: bold;">
        <% if @form_incomplete %>
          <p><%= @error_message %></p>
        <% end %>
      </div>  
    </form>
  </section>
  <section style="text-align: center;">
    <p>Don't have an account yet? <a href="/signup">Signup for a new account.</a></p>
  </section>
</main>
